.register{
   height: calc(100vh - 50px);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    background:linear-gradient(rgba(173, 158, 158, 0.5),rgba(78, 72, 72, 0.5)), url("https://thumbs.dreamstime.com/b/travel-flat-lay-blue-background-journey-banner-template-freelance-blog-website-retro-hipster-cassette-tape-camera-notebook-170394664.jpg"); 
    background-size: cover;

}

.registerTitle{
    font-size: 50px;
    color: rgb(14, 0, 0);
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label{
    margin: 10px 0;
}


.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgb(125, 92, 52);
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}